*.pyc
__pycache__

.hg

db.sqlite3

.DS_Store

beauhurst_assessment/.Python
beauhurst_assessment/bin/
beauhurst_assessment/include/
beauhurst_assessment/lib/
beauhurst_assessment/pip-selfcheck.json
beauhurst_assessment/share/
