*.pyc
__pycache__

.hg

db.sqlite3

.DS_Store

django_api_example/.Python
django_api_example/bin/
django_api_example/include/
django_api_example/lib/
django_api_example/pip-selfcheck.json
django_api_example/share/
